* { box-sizing: border-box; color: inherit; font-size: inherit; font-family: inherit; -webkit-tap-highlight-color: transparent }


body {
    display: grid; 
    margin: 0;
    background: var(--bg-b); color: var(--color);
    font-family: rubik, sans-serif;
    place-items: center;
    overflow: hidden
}
body > * {
    grid-area: 1 / 1;
}

#initial-loading  {
    display: flex;
    padding: 2em; width: 100vw; height: 100vh;
    position: relative;
    background: inherit;
    flex-direction: column; justify-content: center; align-items: center;
    overflow: hidden
}
#initial-loading .logo {
    display: block;
    font-size: 100vw;
    width: min(400px, calc(100% - 4rem)); aspect-ratio: 1 / 1;
    opacity: .8;
    background: repeating-linear-gradient(45deg, var(--c2) 0, var(--c3) 1em, var(--c2) 2em); background-size: 2.8284em 2.8284em;
    -webkit-mask-image: url(/img/logo.svg); mask-image: url(/img/logo.svg); -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center; mask-position: center;
    animation: initial-loading infinite linear 10s
}
@keyframes initial-loading {
    0% { background-position: 0 }
    100% { background-position: 12em -12em }
} 
#initial-loading .bar {
    --percentage: 0%;
    background: linear-gradient(to right, var(--c4) 0, var(--c3) var(--percentage), var(--color) calc(var(--percentage) + .5em), var(--color) 100%);
    width: min(400px, 100%); height: 0;
    border-radius: .15em;
    animation: initial-bar infinite linear 1s; transition: height .3s
}
#initial-loading .text {
    max-width: 100%; height: 0;
    font-size: 1.5em;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
    transition: height .3s
}
@media (max-width: 400px) {
    #initial-loading .text { font-size: 1em }
}

#player {
    max-width: calc(100vw - 2em) !important;
}
